<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plants Express Home</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/plants">All Plants</a>
        <a href="/plants/new">Add Plant</a>
      </nav>

    <h1>Plants Express Home</h1>
</body>
</html>