<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Plant</title>
</head>
<body>
    <h1>Edit Plant</h1>

    <form action="/plants/<%= plantIndex %>?_method=PUT" method="POST">
        <div>
          <label for="name">Name</label>
          <input type="text" id="name" name="name" value="<%= plants.name %>" />
        </div>
    
        <div>
          <label for="hasHoles">Has Holes?</label>
          <input type="checkbox" id="hasHoles" name="hasHoles" <%= hasHoles ? 'checked' : '' %> />
        </div>
    
        <!-- <button type="submit">Add Fruit</button> -->
        <input type="submit" value="Edit Plant" />
      </form>
</body>
</html>