<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Info</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/plants">All Plants</a>
        <a href="/plants/new">Add Plant</a>
      </nav>


    <h1>Plant Profile</h1>

    <strong>Plant:</strong> <%= plants.name %>
    
    <% if (plants.hasHoles) { %>
        <p>This plant has holes!
    <% } else { %>
        <p>This plant doesn't have holes.</p>
    <% } %>

    <form action="/plants/<%= plantIndex %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Plant" />
      </form>
    
      <form action="/plants/<%= plantIndex %>/edit" method="GET">
        <input type="submit" value="Edit Plant" />
      </form>
</body>
</html>